/*
  0 - 600px:        Phone
  600px - 900px:    Tablet
  900px - 1200px:   Tablet landscape
  [1200px - 1800px] is where our normal styles applied
  1800px+:          Big desktop
*/
/*
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

  ORDER: Base + typography -> General layout + grid -> Page layout -> Components
*/
:root {
  --color-primary: #14213D;
  --color-primary-num: 20, 33, 61;
  --color-secondary: #FCA311;
  --color-tertiary: #E5E5E5;
  --color-light-grey-1: #f5f5f5;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  line-height: 1.7;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-primary--main {
  display: block;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 7rem;
  letter-spacing: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: block;
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.heading-secondary::before {
  content: "";
  display: block;
  width: 60%;
  position: relative;
  height: 1px;
  margin-right: 20px;
  background-color: var(--color-light-grey-1);
}
.heading-secondary::after {
  content: "";
  display: block;
  width: 60%;
  position: relative;
  height: 1px;
  margin-left: 20px;
  background-color: var(--color-light-grey-1);
}

.heading-tertiary {
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-size: 2rem;
}

.about-me__skill-item {
  font-size: 1.7rem;
}

.navigation__item {
  color: var(--color-light-grey-1);
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
}
.navigation__item a:link, .navigation__item a:visited {
  text-decoration: none;
  color: var(--color-tertiary);
}
.navigation__item:hover a:link, .navigation__item:hover a:visited {
  color: var(--color-primary);
  font-weight: 600;
}

.experience__role-title,
.card__title {
  color: var(--color-secondary);
  font-size: 2rem;
}

.experience__company {
  font-size: 1.5rem;
}

.experience__duration {
  font-size: 1.5rem;
  font-weight: 300;
}

.experience__content,
.card__description {
  font-size: 1.4rem;
  font-weight: 300;
}

.card__skill-item {
  font-size: 1.4rem;
  font-weight: 400;
}

.projects__work-label {
  display: block;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.contact__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__heading--main {
  display: block;
  font-size: 5rem;
  font-weight: 500;
}
.contact__heading--sub {
  font-size: 2rem;
  font-weight: 300;
}

.footer__copyright {
  font-size: 1.5rem;
  text-align: center;
}

.footer__author {
  color: var(--color-secondary);
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-right-small {
  margin-right: 2rem;
}

.u-margin-right-medium {
  margin-right: 4rem;
}

.u-margin-right-large {
  margin-right: 6rem;
}

.btn {
  padding: 1rem 5rem;
}
.btn-submit {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
}
.btn-submit:active {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.btn-submit:hover {
  transform: scale(1.1);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  padding: 4rem;
  width: 100%;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .card {
    padding: 3rem;
  }
}
.card__title {
  color: var(--color-tertiary);
  margin-bottom: 1rem;
  transition: all 0.4s;
}
.card:hover .card__title {
  color: var(--color-secondary);
}
.card__image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.card__image:hover {
  transform: scale(1.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}
.card__top-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .card__top-content {
    align-items: center;
  }
}
.card__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .card__bottom-content {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 1rem;
  }
}
.card__skill-item {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: var(--color-secondary);
  border-radius: 3px;
  color: var(--color-primary);
}
.card__skill-item:not(:last-child) {
  margin-right: 0.5rem;
}
.card__link-icon {
  width: 48px;
  height: 48px;
  filter: grayscale(1);
  transition: all 0.4s;
}
.card__link-icon:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.card__link-icon--nocolor {
  width: 48px;
  height: 48px;
  filter: brightness(0.5);
  transition: all 0.4s;
}
.card__link-icon--nocolor:hover {
  filter: brightness(1);
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.experience__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .experience__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

.experience__role-details {
  flex-shrink: 0;
  flex-basis: 20%;
}

.experience__role-description {
  flex-shrink: 0;
  flex-basis: 70%;
}

.experience__description-item {
  list-style: none;
}
.experience__description-item::before {
  content: ">";
  margin-right: 0.5rem;
}

.contact__form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form-group {
  width: 100%;
}
.contact__form-group:not(:last-child) {
  margin-bottom: 1rem;
}
.contact__form-group input:-webkit-autofill,
.contact__form-group input:-webkit-autofill:hover,
.contact__form-group input:-webkit-autofill:focus,
.contact__form-group input:-webkit-autofill:active {
  box-shadow: 0 0 0 40px var(--color-primary) inset !important;
  -webkit-box-shadow: 0 0 0 40px var(--color-primary) inset !important;
}
.contact__form-group input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-tertiary) !important;
  caret-color: white;
}

.contact__input {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 2rem;
  color: var(--color-tertiary);
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: transparent;
  border: 3px solid var(--color-secondary);
  border-radius: 3px;
  resize: none;
  outline: none;
}
.contact__input:focus {
  border-bottom: 3px solid var(--color-secondary);
}
.contact__input:focus:invalid {
  border: 3px solid red;
}

.contact__input:placeholder-shown ~ .contact__input-label {
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.contact__input:not(:placeholder-shown) ~ .contact__input-label {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.contact__input-label {
  display: block;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-left: 2.2rem;
  font-size: 2rem;
  font-weight: 200;
  transition: all 0.2s;
}

.contact__submit-btn {
  display: block;
  margin: 0 auto;
}

.about-me {
  display: flex;
}
@media only screen and (max-width: 75em) {
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about-me__text {
  display: block;
  margin-bottom: 2rem;
}
.about-me__skills .about-me__skill-item {
  display: block;
  list-style: none;
  position: relative;
  padding-left: 2rem;
}
.about-me__skills .about-me__skill-item::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
}
.about-me__photo {
  width: 30rem;
  height: 30rem;
  background-image: url(../img/me.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 2px solid var(--color-tertiary);
  flex-shrink: 0;
  transition: filter 0.4s, transform 0.4s, box-shadow 0.4s;
  transform: scale(0.95);
  filter: grayscale(1);
}
@media only screen and (max-width: 75em) {
  .about-me__photo {
    width: 25rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .about-me__photo {
    margin-top: 2rem;
  }
}
.about-me__photo:hover {
  filter: grayscale(0);
  transform: scale(1);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
  filter: grayscale(1);
  transition: all 0.4s;
}
.footer__social-icon:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.footer__social-icon--nocolor {
  width: 48px;
  height: 48px;
  filter: brightness(0.5);
  transition: all 0.4s;
}
.footer__social-icon--nocolor:hover {
  filter: brightness(1);
  cursor: pointer;
}
.footer__author:hover {
  color: var(--color-tertiary);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;
}
.header__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.navigation__item {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  flex-basis: 100px;
}
@media only screen and (max-width: 37.5em) {
  .navigation__item {
    padding: 1rem;
  }
}
.navigation__item:hover {
  background-color: var(--color-secondary);
  transform: translateY(-5px);
}

.personal {
  display: grid;
  gap: 1.5rem;
}
@media (max-width: 1200px) {
  .personal {
    grid-template-columns: 1fr;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
@media only screen and (max-width: 87.5em) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.main {
  padding: 0 25rem;
}
@media only screen and (max-width: 75em) {
  .main {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .main {
    padding: 0;
  }
}

.section-about,
.section-experience,
.section-personal,
.section-projects,
.section-contact {
  max-width: 1000px;
  margin: 20rem auto;
}
@media only screen and (max-width: 37.5em) {
  .section-about,
.section-experience,
.section-personal,
.section-projects,
.section-contact {
    margin: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
