.btn {
  padding: 1rem 5rem;

  &-submit {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .2s;

    &:active {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
}