.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  padding: 4rem;
  width: 100%;
  transition: all .2s;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    color: var(--color-tertiary);
    text-align: center;
    margin-bottom: 1rem;
    transition: all .4s;
  }

  &:hover &__title {
    color: var(--color-secondary);
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: all .2s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    }
  }
  
  &__top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__skill-item {
    display: inline-block;
    padding: .5rem;
    margin: .5rem .5rem .5rem 0;
    background-color: var(--color-secondary);
    border-radius: 3px;
    color: var(--color-primary);

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  &__link-icon {
    width: 48px;
    height: 48px;
    filter: grayscale(1);
    transition: all .4s;

    &:hover {
      filter: grayscale(0);
      cursor: pointer;
    }
  }

  &__link-icon--nocolor {
    width: 48px;
    height: 48px;
    filter: brightness(0.5);
    transition: all .4s;

    &:hover {
      filter: brightness(1);
      cursor: pointer;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    cursor: context-menu;
  }
}